#chartdiv {
  background-color: #30303d;
  color: #fff;
  width: 100%;
  height: 500px;
}
.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}
.jumbotron {
  width: 500px;
  height: auto;
  margin: auto;
  padding: 1.5rem;
}
.center-text {
  text-align: center;
  width: auto;
  height: auto;
}
#submit {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
button {
  width: 500px;
}
#personContainer {
  border: 1px solid grey;
}
